<template>
    <div class="container-fluid">
        <b-row class="mt-3">
            <b-col cols="10">
                <b-form-group>
                    <b-form-input v-model="auther_name" placeholder="Enter Auther Name"></b-form-input>
                </b-form-group>
            </b-col>
            <b-col cols="2">
                <b-form-group>
                    <b-button squared variant="success" @click="AddAuther()">Add Auther</b-button>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-table-simple>
                <b-thead>
                    <b-tr>
                        <b-th>Id</b-th>
                        <b-th>Name</b-th>
                        <b-th>Edit</b-th>
                        <b-th>Delete</b-th>
                    </b-tr>
                </b-thead>
                <b-tbody>
                    <b-tr v-for="(item, index) in items" :key="index" :id="item.id">
                        <b-td>{{ item.id }}</b-td>
                        <b-td>{{ item.auther_name }}</b-td>
                        <b-td><b-button squared variant="success" @click="getItem(item.id)">Edit</b-button></b-td>
                        <b-modal :id="`edit-modal-${item.id}`" :ref="`edit-modal-${item.id}`"
                            :title="`Edit ${item.auther_name}`">
                            <div class="d-block text-center">
                                <b-form-group>
                                    <b-form-input v-model="currentItem.auther_name" placeholder="Edit Auther Name"></b-form-input>
                                </b-form-group>
                            </div>
                            <template slot="modal-footer">
                                <b-button variant="primary" @click="EditAuther(item.id)" class="mr-1">ok</b-button>
                                <b-button variant="secondary" @click="hideEditModal(item.id)">cancel</b-button>
                            </template>
                        </b-modal>
                        <b-td><b-button squared variant="danger"
                                @click="showDeleteModal(item.id)">Delete</b-button></b-td>
                        <b-modal :id="`delete-modal-${item.id}`" :ref="`delete-modal-${item.id}`"
                            :title="`Delete ${item.auther_name}`">
                            <b-alert show variant="danger">Are you sure delete {{ item.auther_name }} auther?</b-alert>
                            <template slot="modal-footer">
                                <b-button variant="primary" @click="DeleteAuther(item.id, item.auther_name)"
                                    class="mr-1">ok</b-button>
                                <b-button variant="secondary" @click="hideDeleteModal(item.id)">cancel</b-button>
                            </template>
                        </b-modal>
                    </b-tr>
                </b-tbody>
            </b-table-simple>
        </b-row>
    </div>
</template>

<script>
import { axiosBase } from '../api/auth.service'

export default {
    data() {
        return {
            variant: 'dark',
            items: [],
            auther_name: '',
            currentItem: '',
        }
    },
    components: {

    },
    methods: {
        showEditModal(id) {
            this.$root.$emit('bv::show::modal', `edit-modal-${id}`, `edit-modal-${id}`)
        },
        hideEditModal(id) {
            this.$root.$emit('bv::hide::modal', `edit-modal-${id}`, `edit-modal-${id}`)
        },
        showDeleteModal(id) {
            this.$root.$emit('bv::show::modal', `delete-modal-${id}`, `delete-modal-${id}`)
        },
        hideDeleteModal(id) {
            this.$root.$emit('bv::hide::modal', `delete-modal-${id}`, `delete-modal-${id}`)
        },
        AddAuther() {
            axiosBase.post(`/auther/`, {
                auther_name: this.auther_name,
            })
                .then((response) => {
                    this.loadAuther()
                    this.auther_name = ''
                    this.$bvToast.toast(`Auther ${response.data.auther_name} add successfully!`, {
                        title: 'Success',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'success',
                        solid: true
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        getItem(id) {
            axiosBase
                .get(`/auther/${id}/`)
                .then((response) => {
                    this.currentItem = response.data
                    this.showEditModal(id)
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        EditAuther(id) {
            axiosBase.patch(`/auther/${id}/`, {
                auther_name: this.currentItem.auther_name,
            })
                .then((response) => {
                    this.hideEditModal(id)
                    this.loadAuther()
                    this.currentItem.auther_name = ''
                    this.$bvToast.toast(`Auther ${response.data.auther_name} edit successfully!`, {
                        title: 'Success',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'success',
                        solid: true
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        DeleteAuther(id, name) {
            axiosBase.delete(`/auther/${id}/`)
                .then((response) => {
                    this.hideDeleteModal(id)
                    this.loadAuther()
                    console.log(response)
                    this.$bvToast.toast(`Auther ${name} delete successfully!`, {
                        title: 'Success',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'success',
                        solid: true
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        loadAuther() {
            axiosBase.get(`/auther/`)
                .then((response) => {
                    this.items = response.data

                })
                .catch((error) => {
                    console.log(error)
                })
        },
    },
    mounted() {
        this.loadAuther()
    }

}
</script>
