<template>
    <div class="container-fluid">
        <b-row class="mt-3">
            <b-col cols="3">
                <b-form-group>
                    <b-form-input v-model="title" placeholder="Enter Book Name"></b-form-input>
                </b-form-group>
            </b-col>
            <b-col cols="3">
                <b-form-group>
                    <b-form-select @change="switchTopic($event)" v-model="topicModel">
                        <b-form-select-option v-for="(item, index) in topicList" :key="index" :value="item.id">{{ item.topic_name
                        }}</b-form-select-option>
                    </b-form-select>
                </b-form-group>
            </b-col>
            <b-col cols="3">
                <b-form-group>
                    <b-form-select @change="switchAuther($event)" v-model="autherModel">
                        <b-form-select-option v-for="(item, index) in autherList" :key="index" :value="item.id">{{ item.auther_name
                        }}</b-form-select-option>
                    </b-form-select>
                </b-form-group>
            </b-col>
            <b-col cols="2">
                <b-form-group>
                    <b-form-input v-model="isbn" placeholder="Enter ISBN"></b-form-input>
                </b-form-group>
            </b-col>
            <b-col cols="1">
                <b-form-group>
                    <b-button squared variant="success" @click="AddBook()">Add</b-button>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-table-simple>
                <b-thead>
                    <b-tr>
                        <b-th>Id</b-th>
                        <b-th>Book</b-th>
                        <b-th>Topic</b-th>
                        <b-th>Auther</b-th>
                        <b-th>ISBN</b-th>
                        <b-th>Edit</b-th>
                        <b-th>Delete</b-th>
                    </b-tr>
                </b-thead>
                <b-tbody>
                    <b-tr v-for="(item, index) in items" :key="index" :id="item.id">
                        <b-td>{{ item.id }}</b-td>
                        <b-td>{{ item.title }}</b-td>
                        <b-td>{{ item.topic_name }}</b-td>
                        <b-td>{{ item.auther_name }}</b-td>
                        <b-td>{{ item.isbn }}</b-td>
                        <b-td><b-button squared variant="success" @click="getItem(item.id)">Edit</b-button></b-td>
                        <b-modal :id="`edit-modal-${item.id}`" :ref="`edit-modal-${item.id}`"
                            :title="`Edit ${item.title}`">
                            <div class="d-block text-center">
                                <b-col cols="12">
                                    <b-form-group>
                                        <b-form-input v-model="currentItem.title" placeholder="Enter Book Name"></b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col cols="12">
                                    <b-form-group>
                                        <b-form-select @change="EditSwitchTopic($event)" v-model="currentItem.topic">
                                            <b-form-select-option v-for="(item, index) in topicList" :key="index" :value="item.id">{{ item.topic_name
                                            }}</b-form-select-option>
                                        </b-form-select>
                                    </b-form-group>
                                </b-col>
                                <b-col cols="12">
                                    <b-form-group>
                                        <b-form-select @change="EditSwitchAuther($event)" v-model="currentItem.auther">
                                            <b-form-select-option v-for="(item, index) in autherList" :key="index" :value="item.id">{{ item.auther_name
                                            }}</b-form-select-option>
                                        </b-form-select>
                                    </b-form-group>
                                </b-col>
                                <b-col cols="12">
                                    <b-form-group>
                                        <b-form-input v-model="currentItem.isbn" placeholder="Enter ISBN"></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </div>
                            <template slot="modal-footer">
                                <b-button variant="primary" @click="EditBook(item.id)" class="mr-1">ok</b-button>
                                <b-button variant="secondary" @click="hideEditModal(item.id)">cancel</b-button>
                            </template>
                        </b-modal>
                        <b-td><b-button squared variant="danger"
                                @click="showDeleteModal(item.id)">Delete</b-button></b-td>
                        <b-modal :id="`delete-modal-${item.id}`" :ref="`delete-modal-${item.id}`"
                            :title="`Delete ${item.title}`">
                            <b-alert show variant="danger">Are you sure delete {{ item.title }} book?</b-alert>
                            <template slot="modal-footer">
                                <b-button variant="primary" @click="DeleteBook(item.id, item.title)"
                                    class="mr-1">ok</b-button>
                                <b-button variant="secondary" @click="hideDeleteModal(item.id)">cancel</b-button>
                            </template>
                        </b-modal>
                    </b-tr>
                </b-tbody>
            </b-table-simple>
        </b-row>
            <div class="wizard-buttons justify-content-center mt-3 mb-3 w-100">
                <b-button v-if="this.items.length != 0" squared variant="outline-primary" @click.prevent="loadMore()">load
                    more ..</b-button>
            </div>
    </div>
</template>

<script>
import { axiosBase } from '../api/auth.service'

export default {
    data() {
        return {
            variant: 'dark',
            items: [],
            title: '',
            topicList: [
                {
                    id: '',
                    topic_name: 'topic',
                },
            ],
            autherList: [
                {
                    id: '',
                    auther_name: 'auther',
                },
            ],
            topicModel:'',
            autherModel:'',
            isbn:'',
            currentPage: 1,
            currentItem: '',
        }
    },
    components: {

    },
    methods: {
        showEditModal(id) {
            this.$root.$emit('bv::show::modal', `edit-modal-${id}`, `edit-modal-${id}`)
        },
        hideEditModal(id) {
            this.$root.$emit('bv::hide::modal', `edit-modal-${id}`, `edit-modal-${id}`)
        },
        showDeleteModal(id) {
            this.$root.$emit('bv::show::modal', `delete-modal-${id}`, `delete-modal-${id}`)
        },
        hideDeleteModal(id) {
            this.$root.$emit('bv::hide::modal', `delete-modal-${id}`, `delete-modal-${id}`)
        },
        switchAuther(event) {
            this.autherModel = event;
        },
        switchTopic(event) {
            this.topicModel = event;
        },
        EditSwitchAuther(event) {
            this.currentItem.auther = event;
        },
        EditSwitchTopic(event) {
            this.currentItem.topic = event;
        },
        loadTopics() {
            axiosBase.get(`/topic/`)
                .then((response) => {
                    this.topicList.push(...response.data)

                })
                .catch((error) => {
                    console.log(error)
                })
        },
        loadAuthers() {
            axiosBase.get(`/auther/`)
                .then((response) => {
                    this.autherList.push(...response.data)

                })
                .catch((error) => {
                    console.log(error)
                })
        },
        AddBook() {
            axiosBase.post(`/book/`, {
                title: this.title,
                isbn: this.isbn,
                topic: this.topicModel,
                auther: this.autherModel,
            })
                .then((response) => {
                    this.loadBook()
                    this.title = ''
                    this.isbn = ''
                    this.topicModel = ''
                    this.autherModel = ''
                    this.$bvToast.toast(`Book ${response.data.title} add successfully!`, {
                        title: 'Success',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'success',
                        solid: true
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        getItem(id) {
            axiosBase
                .get(`/book/${id}/`)
                .then((response) => {
                    this.currentItem = response.data
                    this.showEditModal(id)
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        EditBook(id) {
            axiosBase.patch(`/book/${id}/`, {
                title: this.currentItem.title,
                isbn: this.currentItem.isbn,
                topic: this.currentItem.topic,
                auther: this.currentItem.auther,
            })
                .then((response) => {
                    this.hideEditModal(id)
                    this.currentItem.title = ''
                    this.currentItem.isbn = ''
                    this.currentItem.topic = ''
                    this.currentItem.auther = ''
                    this.loadBook()
                    this.$bvToast.toast(`Book ${response.data.title} edit successfully!`, {
                        title: 'Success',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'success',
                        solid: true
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        DeleteBook(id, name) {
            axiosBase.delete(`/book/${id}/`)
                .then((response) => {
                    this.hideDeleteModal(id)
                    this.loadBook()
                    console.log(response)
                    this.$bvToast.toast(`Book ${name} delete successfully!`, {
                        title: 'Success',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'success',
                        solid: true
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        loadBook() {
            axiosBase.get(`/book/`)
                .then((response) => {
                    this.items = response.data.results

                })
                .catch((error) => {
                    console.log(error)
                })
        },
        loadMore() {
            this.currentPage++
            axiosBase.get(`/book/` + `&page=${this.currentPage}`)
                .then((response) => {
                    this.items.push(...response.data.results)
                    // if (response.data.next == null) {
                    //     this.isShow = false
                    // }
                })
                .catch((error) => {
                    console.log(error)
                })
        },
    },
    mounted() {
        this.loadBook()
        this.loadTopics()
        this.loadAuthers()
    }

}
</script>
