<template>
    <div class="container-fluid">
        <div>
            <b-sidebar id="sidebar-1" title="Filters" :backdrop-variant="variant" backdrop shadow>
                <b-col cols="12">
                    <b-form-group>
                        <b-form-input v-model="searchTerm" @keyup.enter="loadBooks()"
                            placeholder="search.."></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col cols="12">
                    <b-form-group>
                        <b-form-select @change="switchTopic($event)" v-model="topicModel">
                            <b-form-select-option v-for="(item, index) in topicList" :key="index" :value="item.id">{{ item.topic_name }}</b-form-select-option>
                        </b-form-select>
                    </b-form-group>
                </b-col>
                <b-col cols="12">
                    <b-form-group>
                        <b-form-select @change="switchAuther($event)" v-model="autherModel">
                            <b-form-select-option v-for="(item, index) in autherList" :key="index" :value="item.id">{{ item.auther_name }}</b-form-select-option>
                        </b-form-select>
                    </b-form-group>
                </b-col>
                <b-col cols="12">
                    <b-form-group>
                        <b-button squared variant="outline-danger" @click.prevent="resetItem()">Reset</b-button>
                    </b-form-group>
                </b-col>
            </b-sidebar>
        </div>
        <b-row>
            <b-table-simple>
                <b-thead>
                    <b-tr>
                        <b-th>Book</b-th>
                        <b-th>Topic</b-th>
                        <b-th>Auther</b-th>
                        <b-th>ISBN</b-th>
                        <b-th></b-th>
                    </b-tr>
                </b-thead>
                <b-tbody v-if="user_id.role == '1'">
                    <b-tr v-for="(item, index) in items" :key="index" :id="item.id">
                        <b-td>{{ item.title }}</b-td>
                        <b-td>{{ item.topic_name }}</b-td>
                        <b-td>{{ item.auther_name }}</b-td>
                        <b-td>{{ item.isbn }}</b-td>
                        <b-td v-if="item.is_loan == true" variant='danger'>this book is loaned</b-td>
                        <b-td v-else><b-button squared variant="success"
                            @click="AddLoan(item.id)">Loan</b-button></b-td>
                    </b-tr>
                </b-tbody>
                <b-tbody v-else>
                    <b-tr v-for="(item, index) in items" :key="index" :id="item.id">
                        <b-td>{{ item.title }}</b-td>
                        <b-td>{{ item.topic_name }}</b-td>
                        <b-td>{{ item.auther_name }}</b-td>
                        <b-td>{{ item.isbn }}</b-td>
                        <b-td v-if="item.is_loan == true" variant='danger'>this book is loaned</b-td>
                    </b-tr>
                </b-tbody>
            </b-table-simple>
        </b-row>
        <div class="wizard-buttons justify-content-center mt-3 mb-3 w-100">
            <b-button v-if="this.items.length != 0" squared variant="outline-primary" @click.prevent="loadMore()">load
                more ..</b-button>
        </div>
    </div>
</template>

<script>
import { axiosBase } from '../api/auth.service'
import { mapGetters } from 'vuex'


export default {
    data() {
        return {
            variant: 'dark',
            items: [],
            url: process.env.VUE_APP_API_URL,
            topicList:[
                {
                    id: '',
                    topic_name: 'topic',
                },
            ],
            autherList: [
                {
                    id: '',
                    auther_name: 'auther',
                },
            ],
            isShow: true,
            autherModel: "",
            topicModel: "",
            searchTerm: "",
            currentPage: 1,
        }
    },
    computed: {
        ...mapGetters({
            user_id: 'getUserId',
        })
    },
    methods: {
        switchAuther(event) {
            this.autherModel = event;
            this.loadBooks()
        },
        switchTopic(event) {
            this.topicModel = event;
            this.loadBooks()
        },
        AddLoan(id) {
            axiosBase.post(`/loan/`, {
                user_id: this.user_id.user_id,
                book_id: id,
            })
                .then((response) => {
                    this.loadBooks()
                    this.$bvToast.toast(`Loan ${response.data.title} add successfully!`, {
                        title: 'Success',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'success',
                        solid: true
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        loadTopics(){
            axiosBase.get(`/topic/`)
                .then((response) => {
                    this.topicList.push(...response.data)
 
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        loadAuthers() {
            axiosBase.get(`/auther/`)
                .then((response) => {
                    this.autherList.push(...response.data)

                })
                .catch((error) => {
                    console.log(error)
                })
        },
        loadBooks() {
            let api_url = '/book/'
            if (this.searchTerm !== '' ||
                this.searchTerm !== null &&
                this.autherModel !== '' ||
                this.autherModel !== null &&
                this.topicModel !== '' ||
                this.topicModel !== null

            ) {
                api_url = `/book/?search=${this.searchTerm}&topic=${this.topicModel}&auther=${this.autherModel}`
            }
            axiosBase.get(`${api_url}`)
                .then((response) => {
                    this.items = response.data.results
                    // if (response.data.next == null) {
                    //     this.isShow = false
                    // }
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        loadMore() {
            this.currentPage++
            let api_url = '/book/'
            if (this.searchTerm !== '' ||
                this.searchTerm !== null &&
                this.autherModel !== '' ||
                this.autherModel !== null &&
                this.topicModel !== '' ||
                this.topicModel !== null
            ) {
                api_url = `/book/?search=${this.searchTerm}&topic=${this.topicModel}&auther=${this.autherModel}`
            }
            axiosBase.get(`${api_url}` + `&page=${this.currentPage}`)
                .then((response) => {
                    this.items.push(...response.data.results)
                    // if (response.data.next == null) {
                    //     this.isShow = false
                    // }
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        resetItem() {
            this.searchTerm = ""
            this.autherModel = ""
            this.topicModel = ""
            this.isShow = true
            this.loadBooks()
        }
    },
    mounted() {
        this.loadBooks()
        this.loadTopics()
        this.loadAuthers()
    }

}
</script>
