<template>
    <div class="container-fluid">
        <b-row>
            <b-table-simple>
                <b-thead>
                    <b-tr>
                        <b-th>Id</b-th>
                        <b-th>Loan</b-th>
                        <b-th>Topic</b-th>
                        <b-th>Auther</b-th>
                        <b-th>Loan Date</b-th>
                        <b-th>Return Date</b-th>
                        <b-th>Return</b-th>
                    </b-tr>
                </b-thead>
                <b-tbody>
                    <b-tr v-for="(item, index) in items" :key="index" :id="item.id">
                        <b-td>{{ item.id }}</b-td>
                        <b-td>{{ item.book_name }}</b-td>
                        <b-td>{{ item.topic_name }}</b-td>
                        <b-td>{{ item.auther_name }}</b-td>
                        <b-td>{{ item.loan_date_at | moment('jYYYY/jM/jD') }}</b-td>
                        <b-td v-if="item.return_date_at != null">{{
                            item.return_date_at | moment('jYYYY/jM/jD')
                        }}</b-td>
                        <b-td v-else-if="item.return_date_at != 'null'">{{
                            item.return_date_at | moment('jYYYY/jM/jD')
                        }}</b-td>
                        <b-td v-else></b-td>
                        <b-td><b-button v-if="!item.return_date_at" squared variant="success"
                                @click="EditLoan(item.id, item.book_id, item.book_name)">return</b-button></b-td>
                    </b-tr>
                </b-tbody>
            </b-table-simple>
        </b-row>
        <div class="wizard-buttons justify-content-center mt-3 mb-3 w-100">
            <b-button v-if="this.items.length != 0" squared variant="outline-primary" @click.prevent="loadMore()">load
                more ..</b-button>
        </div>
    </div>
</template>

<script>
import { axiosBase } from '../api/auth.service'

export default {
    data() {
        return {
            variant: 'dark',
            items: [],
            title: '',
            currentPage: 1,
        }
    },
    methods: {
        EditLoan(id, book_id, title) {
            let today = new Date()
            axiosBase.patch(`/loan/${id}/`, {
                return_date_at: `${today.getFullYear()}-${today.getMonth() + 1}-${today.getDate()}`
            })
                .then((response) => {
                    console.log(response)
                    this.loadLoanList()
                    this.$bvToast.toast(`book ${title} returned successfully!`, {
                        title: 'Success',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'success',
                        solid: true
                    })
                    axiosBase.patch(`/book/${book_id}/`, {
                        is_loan: false
                    }).then((response) => { console.log(response) })
                        .catch((error) => { console.log(error) })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        loadLoanList() {
            axiosBase.get(`/loan-list/`)
                .then((response) => {
                    this.items = response.data.results

                })
                .catch((error) => {
                    console.log(error)
                })
        },
        loadMore() {
            this.currentPage++
            axiosBase.get(`/loan-list/` + `&page=${this.currentPage}`)
                .then((response) => {
                    this.items.push(...response.data.results)
                    // if (response.data.next == null) {
                    //     this.isShow = false
                    // }
                })
                .catch((error) => {
                    console.log(error)
                })
        },
    },
    mounted() {
        this.loadLoanList()
    }

}
</script>
