<template>
    <div class="container-fluid">
        <b-row>
            <b-table-simple>
                <b-thead>
                    <b-tr>
                        <b-th>Id</b-th>
                        <b-th>Loan</b-th>
                        <b-th>Topic</b-th>
                        <b-th>Auther</b-th>
                        <b-th>user</b-th>
                        <b-th>Loan Date</b-th>
                        <b-th>Return Date</b-th>
                        <b-th>Return</b-th>
                        <b-th>Delete</b-th>
                    </b-tr>
                </b-thead>
                <b-tbody>
                    <b-tr v-for="(item, index) in items" :key="index" :id="item.id">
                        <b-td>{{ item.id }}</b-td>
                        <b-td>{{ item.book_name }}</b-td>
                        <b-td>{{ item.topic_name }}</b-td>
                        <b-td>{{ item.auther_name }}</b-td>
                        <b-td>{{ item.user_first_name }} {{ item.user_last_name }}</b-td>
                        <b-td>{{ item.loan_date_at | moment('jYYYY/jM/jD') }}</b-td>
                        <b-td v-if="item.return_date_at != null">{{ item.return_date_at | moment('jYYYY/jM/jD') }}</b-td>
                        <b-td v-else-if="item.return_date_at != 'null'">{{ item.return_date_at | moment('jYYYY/jM/jD') }}</b-td>
                        <b-td v-else></b-td>
                        <b-td><b-button v-if="!item.return_date_at" squared variant="success" @click="EditLoan(item.id, item.book_id, item.book_name)">return</b-button></b-td>
                        <b-td><b-button squared variant="danger"
                                @click="showDeleteModal(item.id)">Delete</b-button></b-td>
                        <b-modal :id="`delete-modal-${item.id}`" :ref="`delete-modal-${item.id}`"
                            :title="`Delete ${item.title}`">
                            <b-alert show variant="danger">Are you sure delete {{ item.title }} loan?</b-alert>
                            <template slot="modal-footer">
                                <b-button variant="primary" @click="DeleteLoan(item.id, item.title)"
                                    class="mr-1">ok</b-button>
                                <b-button variant="secondary" @click="hideDeleteModal(item.id)">cancel</b-button>
                            </template>
                        </b-modal>
                    </b-tr>
                </b-tbody>
            </b-table-simple>
        </b-row>
        <div class="wizard-buttons justify-content-center mt-3 mb-3 w-100">
            <b-button v-if="this.items.length != 0" squared variant="outline-primary" @click.prevent="loadMore()">load
                more ..</b-button>
        </div>
    </div>
</template>

<script>
import { axiosBase } from '../api/auth.service'

export default {
    data() {
        return {
            variant: 'dark',
            items: [],
            title: '',
            currentPage: 1,
        }
    },
    components: {

    },
    methods: {
        showEditModal(id) {
            this.$root.$emit('bv::show::modal', `edit-modal-${id}`, `edit-modal-${id}`)
        },
        hideEditModal(id) {
            this.$root.$emit('bv::hide::modal', `edit-modal-${id}`, `edit-modal-${id}`)
        },
        showDeleteModal(id) {
            this.$root.$emit('bv::show::modal', `delete-modal-${id}`, `delete-modal-${id}`)
        },
        hideDeleteModal(id) {
            this.$root.$emit('bv::hide::modal', `delete-modal-${id}`, `delete-modal-${id}`)
        },
        AddLoan() {
            axiosBase.post(`/loan/`, {
  
            })
                .then((response) => {
                    this.loadLoan()
                    this.$bvToast.toast(`Loan ${response.data.title} add successfully!`, {
                        title: 'Success',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'success',
                        solid: true
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        EditLoan(id, book_id, title) {
            let today = new Date()
            axiosBase.patch(`/loan/${id}/`, {
                return_date_at: `${today.getFullYear()}-${today.getMonth() + 1}-${today.getDate()}`
            })
                .then((response) => {
                    console.log(response)
                    this.loadLoan()
                    this.$bvToast.toast(`book ${title} returned successfully!`, {
                        title: 'Success',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'success',
                        solid: true
                    })
                    axiosBase.patch(`/book/${book_id}/`, {
                        is_loan: false
                    }).then((response) => { console.log(response) })
                        .catch((error) => { console.log(error) })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        DeleteLoan(id, name) {
            axiosBase.delete(`/loan/${id}/`)
                .then((response) => {
                    this.hideDeleteModal(id)
                    this.loadLoan()
                    console.log(response)
                    this.$bvToast.toast(`Loan ${name} delete successfully!`, {
                        title: 'Success',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'success',
                        solid: true
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        loadLoan() {
            axiosBase.get(`/loan/`)
                .then((response) => {
                    this.items = response.data.results

                })
                .catch((error) => {
                    console.log(error)
                })
        },
        loadMore() {
            this.currentPage++
            axiosBase.get(`/loan/` + `&page=${this.currentPage}`)
                .then((response) => {
                    this.items.push(...response.data.results)
                    // if (response.data.next == null) {
                    //     this.isShow = false
                    // }
                })
                .catch((error) => {
                    console.log(error)
                })
        },
    },
    mounted() {
        this.loadLoan()
    }

}
</script>
