<template>
    <div class="container">
        <b-row id="login">
            <b-col cols="3">

            </b-col>
            <b-col cols="6">
                <b-form @submit="onSubmit">
                    <b-form-group id="input-group-1" label="Email" label-for="input-1">
                        <b-form-input id="input-1" v-model="form.email" type="text" placeholder="Enter Email"
                            required></b-form-input>
                    </b-form-group>
            
                    <b-form-group id="input-group-2" label="Password" label-for="input-2">
                        <b-form-input id="input-2" v-model="form.password" type="password" placeholder="Enter Password"
                            required></b-form-input>
                    </b-form-group>
            
                    <b-button type="submit" variant="primary">Login</b-button>
                </b-form>
                <p>Don't have an account? <router-link to="/register">Signup here</router-link></p>
            </b-col>
            <b-col cols="3">
            
            </b-col>
        </b-row>
    </div>
</template>
<script>
import axios from 'axios';
const api = process.env.VUE_APP_API_URL
axios.defaults.xsrfCookieName = 'csrftoken'
axios.defaults.xsrfHeaderName = 'X-CSRFToken'

export default {
    data() {
        return {
            form: {
                email: '',
                password: '',
            },
        }
    },
    methods: {
        onSubmit(event) {
            event.preventDefault()
                axios.post(`${api}/token/`, {
                    email: this.form.email,
                    password: this.form.password
                })
                .then(response => {
                    localStorage.setItem('accessToken', JSON.stringify(response.data.access))
                    this.$store.commit('SET_CURRENT')
                    document.location.reload(true)
                    this.$router.push('/')
                }).catch(error => {
                    this.$bvToast.toast(error.response.data.detail, {
                        title: 'Error',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'danger',
                        solid: true
                })
            })
        },
    }
}
</script>
<style scoped>
#login {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left!important;;
    color: #2c3e50;
    margin-top: 10%;
}
</style>