<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="dark" :sticky=true>
            <b-navbar-brand><router-link class="nav-link" to="/">Library</router-link></b-navbar-brand>
    
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <router-link v-if="user_id.role == '2'" class="nav-link" to="/topic">Topics</router-link>
                    <router-link v-if="user_id.role == '2'" class="nav-link" to="/auther">Authers</router-link>
                    <router-link v-if="user_id.role == '2'" class="nav-link" to="/book">Books</router-link>
                    <router-link v-if="user_id.role == '2'" class="nav-link" to="/loan">Loan Book</router-link>
                    <router-link v-if="user_id.role == '1'" class="nav-link" to="/loan-list">Loan list</router-link>

                </b-navbar-nav>
                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-form>
                        <b-button squared variant="outline-success" class="my-2 my-sm-0"
                            v-b-toggle.sidebar-1>Filters</b-button>
                        <b-button squared variant="danger" @click="logout" class="my-2 my-sm-0 ml-3">Logout</b-button>
                    </b-nav-form>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        
    </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
    methods: {
        logout(){
            localStorage.removeItem('accessToken');
            this.$router.push('/login')
        }
    },
    computed: {
        ...mapGetters({
            user_id: 'getUserId',
        })
    },
}
</script>