<template>
    <div class="container-fluid">
        <b-row class="mt-3">
            <b-col cols="10">
                <b-form-group>
                    <b-form-input v-model="topic_name"  placeholder="Enter Topic Name"></b-form-input>
                </b-form-group>
            </b-col>
            <b-col cols="2">
                <b-form-group>
                    <b-button squared variant="success" @click="AddTopic()">Add Topic</b-button>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-table-simple>
                <b-thead>
                    <b-tr>
                        <b-th>Id</b-th>
                        <b-th>Name</b-th>
                        <b-th>Edit</b-th>
                        <b-th>Delete</b-th>
                    </b-tr>
                </b-thead>
                <b-tbody>
                    <b-tr v-for="(item, index) in items" :key="index" :id="item.id">
                        <b-td>{{ item.id }}</b-td>
                        <b-td>{{ item.topic_name }}</b-td>
                        <b-td><b-button squared variant="success" @click="getItem(item.id)">Edit</b-button></b-td>
                            <b-modal :id="`edit-modal-${item.id}`" :ref="`edit-modal-${item.id}`" :title="`Edit ${item.topic_name}`">
                                <div class="d-block text-center">
                                    <b-form-group>
                                        <b-form-input v-model="currentItem.topic_name" placeholder="Edit Topic Name"></b-form-input>
                                    </b-form-group>
                                </div>
                                <template slot="modal-footer">
                                    <b-button variant="primary" @click="EditTopic(item.id)" class="mr-1">ok</b-button>
                                    <b-button variant="secondary" @click="hideEditModal(item.id)">cancel</b-button>
                                </template>
                            </b-modal>
                        <b-td><b-button squared variant="danger" @click="showDeleteModal(item.id)">Delete</b-button></b-td>
                            <b-modal :id="`delete-modal-${item.id}`" :ref="`delete-modal-${item.id}`" :title="`Delete ${item.topic_name}`">
                            <b-alert show variant="danger">Are you sure delete {{ item.topic_name }} topic?</b-alert>
                                <template slot="modal-footer">
                                    <b-button variant="primary" @click="DeleteTopic(item.id, item.topic_name)" class="mr-1">ok</b-button>
                                    <b-button variant="secondary" @click="hideDeleteModal(item.id)">cancel</b-button>
                                </template>
                            </b-modal>
                    </b-tr>
                </b-tbody>
            </b-table-simple>
        </b-row>
    </div>
</template>

<script>
import { axiosBase } from '../api/auth.service'

export default {
    data() {
        return {
            variant: 'dark',
            items: [],
            topic_name: '',
            currentItem: '',
        }
    },
    components: {

    },
    methods: {
        showEditModal(id) {
            this.$root.$emit('bv::show::modal', `edit-modal-${id}`, `edit-modal-${id}`)
        },
        hideEditModal(id) {
            this.$root.$emit('bv::hide::modal', `edit-modal-${id}`, `edit-modal-${id}`)
        },
        showDeleteModal(id) {
            this.$root.$emit('bv::show::modal', `delete-modal-${id}`, `delete-modal-${id}`)
        },
        hideDeleteModal(id) {
            this.$root.$emit('bv::hide::modal', `delete-modal-${id}`, `delete-modal-${id}`)
        },
        AddTopic(){
            axiosBase.post(`/topic/`, {
                topic_name: this.topic_name,
            })
                .then((response) => {
                    this.loadTopics()
                    this.topic_name = ''
                    this.$bvToast.toast(`Topic ${response.data.topic_name} add successfully!`, {
                        title: 'Success',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'success',
                        solid: true
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        getItem(id) {
            axiosBase
                .get(`/topic/${id}/`)
                .then((response) => {
                    this.currentItem = response.data
                    this.showEditModal(id)
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        EditTopic(id){
            axiosBase.patch(`/topic/${id}/`, {
                topic_name: this.currentItem.topic_name,
            })
                .then((response) => {
                    this.hideEditModal(id)
                    this.loadTopics()
                    this.currentItem.topic_name = ''
                    this.$bvToast.toast(`Topic ${response.data.topic_name} edit successfully!`, {
                        title: 'Success',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'success',
                        solid: true
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        DeleteTopic(id , name){
            axiosBase.delete(`/topic/${id}/`)
                .then((response) => {
                    this.hideDeleteModal(id)
                    this.loadTopics()
                    console.log(response)
                    this.$bvToast.toast(`Topic ${name} delete successfully!`, {
                        title: 'Success',
                        toaster: 'b-toaster-top-center',
                        autoHideDelay: 5000,
                        variant: 'success',
                        solid: true
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        loadTopics() {
            axiosBase.get(`/topic/`)
                .then((response) => {
                    this.items = response.data

                })
                .catch((error) => {
                    console.log(error)
                })
        },
    },
    mounted() {
        this.loadTopics()
    }

}
</script>
