<template>
  <div id="app">
    <Menu v-if="user" />
    <router-view />
    <!-- <Login v-if="!user"/>
    <Register v-if="!user"/> -->
  </div>
</template>

<script>
import Menu from './components/NavMenu.vue'
// import Login from './components/LoginPage.vue'
// import Register from './components/RegisterPage.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  computed: {
    ...mapGetters({
      user: 'getCurrent',
    })
  },
  components: {
    Menu,
    // Login,
    // Register
  },
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
